* {
    box-sizing: border-box;
}

body {
    font-family: 'Merienda One', cursive;
    font-size: 12px;
    text-align: center;
    background-image: url("./images/LOTR_bg.jpg");
    background-position: 0 -50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
}

section {
    text-align: center;
    border: 3px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    margin-right: 5px;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

.stats {
    display: inline-block;
    padding: 0 25px;
}

.row {
    text-align: center;
    margin-bottom: 20px;
}

.lotr {
    display: block;
    font-family: 'Berkshire Swash', cursive;
    color: gold;
    text-decoration: underline;
    font-size: 40px;
}

.question-page {
    padding: 20px;
}

.btn {
    display: block;
    margin: 25px auto;
    width: 25%;
}

  
.image {
    width: 55%;
    border-radius: 20px;
}

.answer{
    display: block;
}



/**** Media Queries ****/

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }

    .lotr {
        display: inline;
        font-size: 50px;
    }
}